# yaga designgns — Environment Configuration

VITE_APPWRITE_ENDPOINT="https://sgp.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="69d72e170037ae85ba57"
VITE_APPWRITE_DATABASE_ID="yaga_designs_db"
VITE_APPWRITE_PRODUCTS_COLLECTION_ID="products"
VITE_APPWRITE_BUCKET_ID="product-images"
